.holycarousel {
	overflow: hidden;
	background-color: #FFFC96;
	.holy-rail {
		position: relative;
		margin-left: 0;
	}
	.item {
		display: inline-block;
		vertical-align: top;
		background-color:#A1F5F1;
	}
}