.holycarousel {
  overflow: hidden;
  position: relative; }
  .holycarousel .holy-rail {
    position: relative;
    margin-left: 0; }
  .holycarousel .item,
  .holycarousel .alt-item {
    display: inline-block;
    vertical-align: top; }

.pager {
  display: block;
  text-align: justify;
  width: 100%; }
  .pager:after {
    content: '';
    width: 100%; }
  .pager .pager-item {
    width: auto;
    padding: 5px;
    display: inline-block;
    cursor: pointer; }
    .pager .pager-item.active {
      background-color: green; }

.holycarousel {
  background-color: #FFFC96; }
  .holycarousel .item,
  .holycarousel .alt-item {
    background-color: #A1F5F1;
    overflow: hidden; }
    .holycarousel .item img,
    .holycarousel .alt-item img {
      float: left; }
