.holycarousel {
  overflow: hidden;
  background-color: #FFFC96; }
  .holycarousel .holy-rail {
    position: relative;
    margin-left: 0; }
  .holycarousel .item {
    display: inline-block;
    vertical-align: top;
    background-color: #A1F5F1; }
